<div class="widget-content" >
    <div class="widget-body">{{booksearch.greetingMessage}}</div>
    <p><input type="text" ng-model="booksearch.bookName" placeholder="Enter book here"></p>
    <div class="text-right">
        <button ng-click="booksearch.changeCase()">Change Case</button>
        <button ng-click="booksearch.getBookdata()">Search</button>
    </div>
</div>
<li ng-repeat="x in booksearch.bookList">
    <div>{{ x.volumeInfo.title }}</div>
    <div>{{ x.volumeInfo.authors.toString() }}</div>
</li>