<!DOCTYPE html>
<html>
<head>
    <title>Book Review</title>
    <base href="/">
    <meta charset="utf-8" />
    <link href="~/AngularjsViews/min/css/normalize.min.css" rel="stylesheet" />
    <link href="~/AngularjsViews/min/css/bookreview.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/angular.min.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-ui-router.min.js"></script>
    <script src="~/AngularjsViews/app.js"></script>
    <script src="~/AngularjsViews/app-config.js"></script>
    <script src="~/AngularjsViews/controllers/bookSearch.controller.js"></script>
    <script src="~/AngularjsViews/controllers/bookDisplay.controller.js"></script>
    <script src="~/AngularjsViews/services/book.service.js"></script>
</head>
<body style="background:#fff;">
    @RenderBody()
</body>
</html>